
label {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  /* text-decoration: underline;
  text-decoration-color: #545149; */
  margin-bottom: 3px 3px 3px;
}


button {
  background-color: #4056A1;
  border: none;
  color: white;
  height: 44px;
  padding: 15px 32px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: 'Bungee', cursive;
  margin-top: 10px;

}
output {
  /* float: right; */
  font-weight: bold;
  margin-top: 15px;

}

.fg_red {
  color: red;
}

#button-and-counter {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  border-top: 2px solid #545149;

}



article {
  background-color: #f4f1ec;
  border: 2px solid #545149;
  flex-direction: column;
  height: 200px;
  position: relative;
  width: 50%;

}

article:hover {
  border: 1px solid #545149;
  padding: 5px;
  box-shadow: 2px 3px;
}


/* New Container */
#article-header {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  flex-direction: row;
  background-color: #f4f1ec;
  border-bottom: 2px solid #545149;
  height: 30px;
  vertical-align: top;
  float: left;
}

#article-body {
  vertical-align: middle;
  margin-top: 20%;
  margin-left: 1em;
  font-size: 30px;
}

#article-footer {
  /* display: flex;
  justify-content: space-between;
  flex-direction: row; */

  position: absolute;
  bottom: 0;
  background-color: #f4f1ec;
  border-top: 2px solid #545149;
  height: 30px;
  vertical-align: top;
  width: 100%;
  font-size: 15px;
  font-weight: bold;

  /* padding-left: 0.2em; */
}

/* footer items hover attribute */
.fa-flag:hover {
  color: blue;
}

.fa-retweet:hover {
  color: blue;

}
.fa-heart:hover {
  color: blue;

}


#footer-emotes {
  float: right;
  padding-right: 0.3em;
}

#tweet-text {
  margin-top: 5px;
}