
label {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  /* text-decoration: underline;
  text-decoration-color: #545149; */
  margin-bottom: 3px 3px 3px;
}


button {
  background-color: #4056A1;
  border: none;
  color: white;
  height: 44px;
  padding: 15px 32px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: 'Bungee', cursive;
  margin-top: 10px;

}
output {
  /* float: right; */
  font-weight: bold;
  margin-top: 15px;

}

.fg_red {
  color: red;
}

#button-and-counter {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  border-top: 2px solid #545149;

}



article {
  background-color: #f4f1ec;
  display: flexbox;
  border: 2px solid #545149;
  flex-direction: column;
  height: 200px;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-start;

}


/* New Container */
#article-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f4f1ec;
  border-bottom: 2px solid #545149;
  height: 30px;
  vertical-align: top;
}

#tweet-text {
  margin-top: 5px;
}