/* textbox styling */
textarea {
  font-size: 20px;
  font-weight: bold;
  color: #545149;
  border: none;
  background-color: #f4f1ec;
  width: 100%;
  height: 25px;
}

/* button and counter container styling */
#button-and-counter {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
  border-top: 2px solid #545149;

}
/* button styling */
input {
  background-color: #4056A1;
  border: none;
  color: white;
  height: 44px;
  padding: 15px 32px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: 'Bungee', cursive;
  margin-top: 10px;

}
/* counter styling */
output {
  font-weight: bold;
  margin-top: 15px;
}

/* color to red when negative counter */
.fg_red {
  color: red;
}


article {
  background-color: #f4f1ec;
  border: 2px solid #545149;
  flex-direction: column;
  height: 200px;
  position: relative;
  width: 50%;
  margin-top: 25px;
}

article:hover {
  border: 1px solid #545149;
  padding: 5px;
  box-shadow: 2px 3px;
}


/* New Container */
#article-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  flex-direction: row;
  background-color: #f4f1ec;
  border-bottom: 2px solid #545149;
  height: 30px;
  vertical-align: top;
  float: left;
}
#article-header img {
  height: 25px;
}
#handle {
  font-size: 10px;
  padding-right: 0.5em;
  font-weight: bold;
}

/* text */
#article-body {
  vertical-align: middle;
  margin-left: 1em;
  font-size: 30px;
  height: 140px;
}

#article-footer {
  position: absolute;
  bottom: 0;
  background-color: #f4f1ec;
  border-top: 2px solid #545149;
  height: 30px;
  vertical-align: top;
  width: 100%;
  font-size: 15px;
  font-weight: bold;

  /* padding-left: 0.2em; */
}

/* footer items hover attribute */
.fa-flag:hover {
  color: blue;
}

.fa-retweet:hover {
  color: blue;

}
.fa-heart:hover {
  color: blue;

}


#footer-emotes {
  float: right;
  padding-right: 0.3em;
}

